<?xml version="1.0"?>
<robot
  name="tros_sldworks_pkg">
  <link name="base_link"></link>
  <link
    name="chassis_link">
    <inertial>
      <origin
        xyz="-0.0011751142480203 0.0560628119659261 0.121693875098375"
        rpy="0 0 0" />
      <mass
        value="27.9685222137019" />
      <inertia
        ixx="0.236565711412707"
        ixy="1.88562774974532E-09"
        ixz="7.73783512994114E-12"
        iyy="0.708374298168133"
        iyz="4.15129518897971E-05"
        izz="0.547317579384183" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tros_sldworks_pkg/meshes/chassis_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tros_sldworks_pkg/meshes/chassis_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="chassis_joint" type="fixed">
    <parent link="base_link"/>
    <child link="chassis_link"/>
    <origin xyz="0.0 0.0 0.0" rpy="1.5708 0 0"/>
  </joint>
  <link
    name="left_rotatable_link">
    <inertial>
      <origin
        xyz="-4.65621408574091E-05 -0.0896580860525273 -0.0170360588140277"
        rpy="0 0 0" />
      <mass
        value="3.40229054558915" />
      <inertia
        ixx="0.00526654975969157"
        ixy="7.20414424233111E-07"
        ixz="3.99490846495806E-05"
        iyy="0.0108012749496101"
        iyz="1.51609031051643E-05"
        izz="0.0149420282207255" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tros_sldworks_pkg/meshes/left_rotatable_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tros_sldworks_pkg/meshes/left_rotatable_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_rotatable_joint"
    type="revolute">
    <origin
      xyz="-0.34671 0.015 0.19902"
      rpy="0 -1.5708 0" />
    <parent
      link="chassis_link" />
    <child
      link="left_rotatable_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="0"
      velocity="0" />
    <dynamics
      damping="0.4"
      friction="1" />
  </joint>
  <link
    name="front_left_link">
    <inertial>
      <origin
        xyz="-2.1097E-09 -8.2224E-10 0.0020847"
        rpy="0 0 0" />
      <mass
        value="12.209" />
      <inertia
        ixx="0.096798"
        ixy="-1.8815E-11"
        ixz="7.2747E-10"
        iyy="0.096798"
        iyz="-3.6615E-10"
        izz="0.13399" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tros_sldworks_pkg/meshes/front_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tros_sldworks_pkg/meshes/front_left_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_left_joint"
    type="continuous">
    <origin
      xyz="-0.39913 -0.24818 0.084652"
      rpy="-3.1416 0 -3.1416" />
    <parent
      link="left_rotatable_link" />
    <child
      link="front_left_link" />
    <axis
      xyz="0 0 -1" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="rear_left_link">
    <inertial>
      <origin
        xyz="1.97877714214201E-10 2.25839369427661E-09 0.0020846583729538"
        rpy="0 0 0" />
      <mass
        value="12.2088239518694" />
      <inertia
        ixx="0.0967979128428435"
        ixy="1.04096732934944E-11"
        ixz="-6.4974405637478E-10"
        iyy="0.0967979128117142"
        iyz="-4.9146835490954E-10"
        izz="0.133986761609432" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tros_sldworks_pkg/meshes/rear_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tros_sldworks_pkg/meshes/rear_left_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rear_left_joint"
    type="continuous">
    <origin
      xyz="0.399129309591522 -0.24818499999999 0.0999850066700003"
      rpy="3.14159265358979 0 3.14159265358979" />
    <parent
      link="left_rotatable_link" />
    <child
      link="rear_left_link" />
    <axis
      xyz="0 0 -1" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="right_rotatable_link">
    <inertial>
      <origin
        xyz="4.84359169552473E-05 -0.0896580864233081 -0.0170360596762897"
        rpy="0 0 0" />
      <mass
        value="3.40229053035036" />
      <inertia
        ixx="0.00526654974805328"
        ixy="6.3891523677142E-06"
        ixz="-4.02387535737794E-05"
        iyy="0.0108012749348617"
        iyz="1.51608973705461E-05"
        izz="0.0149420282092077" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tros_sldworks_pkg/meshes/right_rotatable_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tros_sldworks_pkg/meshes/right_rotatable_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_rotatable_joint"
    type="revolute">
    <origin
      xyz="0.34671 0.015 0.19902"
      rpy="0 1.5708 0" />
    <parent
      link="chassis_link" />
    <child
      link="right_rotatable_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="0"
      velocity="0" />
    <dynamics
      damping="0.4"
      friction="1" />
  </joint>
  <link
    name="front_right_link">
    <inertial>
      <origin
        xyz="1.97876381946571E-10 2.25839480449963E-09 0.0020846583729528"
        rpy="0 0 0" />
      <mass
        value="12.2088239518692" />
      <inertia
        ixx="0.0967979128428433"
        ixy="1.04097015147691E-11"
        ixz="-6.49744038656979E-10"
        iyy="0.096797912811714"
        iyz="-4.91468374614801E-10"
        izz="0.133986761609432" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tros_sldworks_pkg/meshes/front_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tros_sldworks_pkg/meshes/front_right_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_right_joint"
    type="continuous">
    <origin
      xyz="0.399129309591521 -0.248184999999992 0.0846516733299993"
      rpy="-3.14159265358979 0 -3.14159265358979" />
    <parent
      link="right_rotatable_link" />
    <child
      link="front_right_link" />
    <axis
      xyz="0 0 1" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="rear_right_link">
    <inertial>
      <origin
        xyz="-2.11024353546918E-09 -8.20771006715404E-10 0.00208465839733241"
        rpy="0 0 0" />
      <mass
        value="12.2088239428695" />
      <inertia
        ixx="0.0967979128394559"
        ixy="-1.84526082884831E-11"
        ixz="7.27562933506311E-10"
        iyy="0.0967979128417125"
        iyz="-3.66412510467765E-10"
        izz="0.133986761609406" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tros_sldworks_pkg/meshes/rear_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tros_sldworks_pkg/meshes/rear_right_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rear_right_joint"
    type="continuous">
    <origin
      xyz="-0.399129309591514 -0.248185000000002 0.0999850066699997"
      rpy="-3.14159265358979 0 -3.14159265358979" />
    <parent
      link="right_rotatable_link" />
    <child
      link="rear_right_link" />
    <axis
      xyz="0 0 1" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="lidar_link">
    <inertial>
      <origin
        xyz="3.41879387799615E-06 0.036296677126521 0.000102124851530938"
        rpy="0 0 0" />
      <mass
        value="0.605610172266937" />
      <inertia
        ixx="0.000670907963914795"
        ixy="5.22872596799569E-08"
        ixz="-2.54216844767413E-07"
        iyy="0.000804073841792418"
        iyz="1.81336994348358E-06"
        izz="0.000667057423314157" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tros_sldworks_pkg/meshes/lidar_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tros_sldworks_pkg/meshes/lidar_link.STL" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="lidar_link">
    <sensor type="gpu_lidar" name="velodyne_vlp16">
      <topic>/velodyne_points</topic>
      <update_rate>10</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>1800</samples>
            <resolution>1</resolution>
            <min_angle>-3.141592653589793</min_angle>
            <max_angle>3.141592653589793</max_angle>
          </horizontal>
          <vertical>
            <samples>16</samples>
            <resolution>1</resolution>
            <min_angle>-0.2617993877991494</min_angle> <!-- -15 degrees -->
            <max_angle>0.2617993877991494</max_angle>  <!-- +15 degrees -->
          </vertical>
        </scan>
        <range>
          <min>0.9</min>
          <max>100.0</max>
          <resolution>0.001</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <always_on>true</always_on>
      <visualize>true</visualize>
    </sensor>
  </gazebo>
  <joint
    name="lidar_joint"
    type="fixed">
    <origin
      xyz="0 0.195 0.39805"
      rpy="0 0 0" />
    <parent
      link="chassis_link" />
    <child
      link="lidar_link" />
  </joint>
  <link
    name="arm_turret_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="1" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tros_sldworks_pkg/meshes/arm_turret_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tros_sldworks_pkg/meshes/arm_turret_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_turret_joint"
    type="continuous">
    <origin
      xyz="0 0.19 0"
      rpy="1.5708 0 -3.1416" />
    <parent
      link="chassis_link" />
    <child
      link="arm_turret_link" />
    <axis
      xyz="0 0 1" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="arm_base_turret_link">
    <inertial>
      <origin
        xyz="1.71134175384058E-05 0.429562275870776 0.0318370850629819"
        rpy="0 0 0" />
      <mass
        value="1.54125416810131" />
      <inertia
        ixx="0.00558057441791725"
        ixy="-1.8036932744494E-09"
        ixz="-1.38890288376228E-10"
        iyy="0.00100129520441832"
        iyz="1.62316065000079E-05"
        izz="0.00594747554362716" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tros_sldworks_pkg/meshes/arm_base_turret_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tros_sldworks_pkg/meshes/arm_base_turret_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_base_turret_joint"
    type="revolute">
    <origin
      xyz="-0.094203 0.07189 0.08635"
      rpy="1.5708 0 -2.2227" />
    <parent
      link="arm_turret_link" />
    <child
      link="arm_base_turret_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="arm_mid_link">
    <inertial>
      <origin
        xyz="0.2499114714616 -0.026378117301245 0.0520756651329131"
        rpy="0 0 0" />
      <mass
        value="1.17448790322858" />
      <inertia
        ixx="0.000940955799401853"
        ixy="0.000472021659558586"
        ixz="-2.01890106215141E-05"
        iyy="0.00537920426456279"
        iyz="2.96208038374995E-05"
        izz="0.00556849159306167" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tros_sldworks_pkg/meshes/arm_mid_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tros_sldworks_pkg/meshes/arm_mid_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_mid_joint"
    type="revolute">
    <origin
      xyz="0 0.6152 -0.020262"
      rpy="-3.1416 0 0" />
    <parent
      link="arm_base_turret_link" />
    <child
      link="arm_mid_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="arm_end_effector_turn_link">
    <inertial>
      <origin
        xyz="0.00393657718391949 0.00201749428946152 -0.00354471898145681"
        rpy="0 0 0" />
      <mass
        value="0.0545581570050041" />
      <inertia
        ixx="7.60999592002071E-06"
        ixy="8.44659515197221E-07"
        ixz="2.75809388722543E-09"
        iyy="6.51960627220242E-06"
        iyz="-1.10445560648114E-09"
        izz="8.22074394345696E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tros_sldworks_pkg/meshes/arm_end_effector_turn_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tros_sldworks_pkg/meshes/arm_end_effector_turn_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_end_effector_turn_joint"
    type="revolute">
    <origin
      xyz="0.5747 -0.062022 0.05667"
      rpy="2.8595 0.14022 0.34467" />
    <parent
      link="arm_mid_link" />
    <child
      link="arm_end_effector_turn_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
    <dynamics
      damping="0.4"
      friction="0.2" />
  </joint>
  <link
    name="arm_end_effector_spin_link">
    <inertial>
      <origin
        xyz="0.01991 -0.0052147 -0.065237"
        rpy="0 0 0" />
      <mass
        value="0.33685" />
      <inertia
        ixx="0.00031797"
        ixy="-1.2778E-05"
        ixz="3.2167E-05"
        iyy="0.00031235"
        iyz="-2.109E-05"
        izz="0.00016579" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tros_sldworks_pkg/meshes/arm_end_effector_spin_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89412 0.89412 0.89412 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tros_sldworks_pkg/meshes/arm_end_effector_spin_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_end_effector_spin_joint"
    type="continuous">
    <origin
      xyz="0.02119 0.011271 -0.0037291"
      rpy="1.5708 -1.2555 -1.0709" />
    <parent
      link="arm_end_effector_turn_link" />
    <child
      link="arm_end_effector_spin_link" />
    <axis
      xyz="0 0 -1" />
    <dynamics 
      damping="0.4" />
  </joint>
  <gazebo>
    <plugin filename="gz-sim-diff-drive-system" name="gz::sim::systems::DiffDrive">
      <left_joint>front_left_joint</left_joint>
      <left_joint>rear_left_joint</left_joint>
      <right_joint>front_right_joint</right_joint>
      <right_joint>rear_right_joint</right_joint>
      <wheel_separation>0.4</wheel_separation>
      <wheel_radius>0.15</wheel_radius>
      <publish_odom>true</publish_odom>
      <publish_odom_tf>true</publish_odom_tf>
      <publish_wheel_tf>true</publish_wheel_tf>
      <odom_publish_frequency>50</odom_publish_frequency>
      <topic>/cmd_vel</topic>
      <odom_topic>/odom</odom_topic>
      <tf_topic>/tf</tf_topic>
      <frame_id>odom</frame_id>
      <child_frame_id>base_link</child_frame_id>
    </plugin>
  </gazebo>
</robot>
